*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;

}
:root{
    --main-color: #6433cd;
}
.sec-title{
    font-size: 35px;
    color: var(--main-color);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}
.sec-desc{
    font-size: 16px;
    max-width: 90%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: #565656;
    line-height: 24px
}
@import 'sections/header';
@import 'sections/about';
@import 'sections/services';
@import 'sections/products';
@import 'sections/application';
@import 'sections/contact';
@import 'sections/footer';
