/* Start Products Section Styles */

/* Start About-us Section Styles */
.products {
  padding: 70px 0;
  .products-inner {
    margin-top: 80px;
    .product-box {
        margin-bottom: 60px;

      .product-image {
        width: 260px;
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-right: auto;margin-left: auto;
     
        background-color: #f9f9f9 ;
        img {
          max-width: 100%;
        }
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(98, 49, 205, 0.635);
          opacity: 0;
          transition: all 0.6s;
          overflow: hidden;

          a {
            position: relative;
            background: var(--main-color);
            color: #fff;
            text-transform: capitalize;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.4s;
            top: 80%;
            left: 50%;
            transition-delay: 0.2s;
            &:hover{
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                transform: scale(1.01)
            }
            &::before {
              content: url(../images/shopping-cart.svg);
              width: 20px;
              height: 20px;
              margin-right: 10px;
              position: relative;
              top: 2px;
            }
          }
        }
        &:hover{
            .overlay{
                opacity: 1;
                a{
                    left: 0;
                    top: 0;
                }
            }
        }
      }
      .product-text{
          text-align: center;
          margin-top: 30px;

          h6{
            color: #565656;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
          }
          span{
            color: #565656;
            font-size: 16px;
            font-weight: 400;
          }
      }
    }
  }
}
/* End About-us Section Styles */
/* End Products Section Styles */
