/* Start Services Section Styles */
.services{
    padding: 70px 0;
    background: #f9f9f9;
    .services-inner{
        margin-top: 80px;
        .service-box{
            display: flex;
            margin-bottom: 40px;
            .service-icon{
                margin-right: 20px;
                border: 1px dashed #cccccc;
                padding: 5px;
                min-width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 30px;
                }
            }
            .service-text{
                h5{
                    color: #3d3d3d;
                    font-size: 22px;
                    font-weight: 400;
                }
                p{
                    color: #717171;
                    font-size: 14px;
                }
            }
        }
        }
    
}
/* End Services Section Styles */